<div class = "container">
  <div class="row">
  	<div class="col-md-12">
  	  <div class="shadow">
    	<h1 id="title"><span class="smart">Smart</span> Traffic Lights</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <img id="infobox" class="container shadow" src="assets/trafficspeed.png">
      <div id="map" class="shadow"></div>
    </div>
    <div class="col-md-3">
      <div id="control" class="shadow">
        <div class="row">
          <h3>controls</h3>
        </div>
        <div class="form-group box">
          <p class="bold">enable</p>
          <div class="checkbox"><label><input id="chk_lights" type="checkbox" checked>traffic lights</label></div>
          <div class="checkbox"><label><input id="chk_data" type="checkbox" checked>traffic data</label></div>
        </div>
        <div class="form-group box">
          <p class="bold">show</p>
          <div class="radio">
            <label><input type="radio" name="traffic_data" id="td_speed" value="speed" checked>
              traffic speed
            </label>
          </div>
          <div class="radio">
            <label><input type="radio" name="traffic_data" id="td_vehicles" value="vehicles">
              number of vehicles
            </label>
          </div>
        </div>
        <div class="form-group box">
          <p class="bold">time</p>
          <input
            id="slider"
    		type="text"
    		name="time"
    		data-provide="slider"
    		data-slider-ticks="[1, 2, 3, 4]"
		    data-slider-ticks-labels='["now", "5 min", "1 hour", "today"]'
		    data-slider-min="1"
		    data-slider-max="4"
		    data-slider-step="1"
		    data-slider-value="1"
		    data-slider-tooltip="hide">
        </div>
      </div>
    </div>
  </div>
</div>

